/* This file imports all of your scss partials to be complied into one stylesheet,
which you can then attach to you html

All files that are prefixed with all underscore\
"_name-of-file.scss" are called partials - meaning
their css isn't compiled unless it's imported into an 
unprefixed .scss file */
/*mixins are reusable groups of syles*/
/*This file contains all our variables*/
/* are placeholders for storing information
that you want to reuse throughout your styles.
You can store things like colours font-stacks,
or any css value you think you might want to reuse.
SCSS uses the '$' symbol to declare variables */
/*This file contains all our mixins*/
/*This is our main file for scc/sass*/
/* line 2, /Users/alexandrachama/Documents/School/Graphic Design 6/Web Dev/exercise-2-scss/scss/components/main */
-moz-viewport {
  width: device-width;
  scale: 1; }

@-ms-viewport {
  width: device-width;
  scale: 1; }

@-o-viewport {
  width: device-width;
  scale: 1; }

@-webkit-viewport {
  width: device-width;
  scale: 1; }

@viewport {
  width: device-width;
  scale: 1; }

/* line 8, /Users/alexandrachama/Documents/School/Graphic Design 6/Web Dev/exercise-2-scss/scss/components/main */
html {
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%; }

/* line 16, /Users/alexandrachama/Documents/School/Graphic Design 6/Web Dev/exercise-2-scss/scss/components/main */
*, *:before, *:after {
  box-sizing: inherit; }

/* line 20, /Users/alexandrachama/Documents/School/Graphic Design 6/Web Dev/exercise-2-scss/scss/components/main */
body {
  margin: 0;
  padding: 0;
  background: url("../images/background.jpg");
  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #F59A0B;
  text-align: center; }

/* line 30, /Users/alexandrachama/Documents/School/Graphic Design 6/Web Dev/exercise-2-scss/scss/components/main */
h1 {
  font-size: 10em; }

/* line 35, /Users/alexandrachama/Documents/School/Graphic Design 6/Web Dev/exercise-2-scss/scss/components/main */
.btn {
  font-size: 5em;
  padding: 0.7em 0.9em;
  display: inline-block;
  background-color: #FBFAF8;
  border-radius: 50px;
  box-shadow: 0 10px rgba(0, 0, 0, 0.5);
  color: #000000;
  text-decoration: none;
  font-family: fontello; }
  /* line 13, /Users/alexandrachama/Documents/School/Graphic Design 6/Web Dev/exercise-2-scss/scss/mixins */
  .btn:hover {
    background-color: #02D058; }

/* line 40, /Users/alexandrachama/Documents/School/Graphic Design 6/Web Dev/exercise-2-scss/scss/components/main */
.btn:hover {
  background-color: #02D058; }
