/* This file imports all of your scss partials to be complied into one stylesheet,
which you can then attach to you html

All files that are prefixed with all underscore\
"_name-of-file.scss" are called partials - meaning
their css isn't compiled unless it's imported into an 
unprefixed .scss file */
/*mixins are reusable groups of syles*/
/*This file contains all our variables*/
/* are placeholders for storing information
that you want to reuse throughout your styles.
You can store things like colours font-stacks,
or any css value you think you might want to reuse.
SCSS uses the '$' symbol to declare variables */
/*This file contains all our mixins*/
/*This is our main file for scc/sass*/
/* line 2, /Users/alexandrachama/Documents/School/Graphic Design 6/Web Dev/exercise-2-scss/scss/components/main */
-moz-viewport {
  width: device-width;
  scale: 1; }

@-ms-viewport {
  width: device-width;
  scale: 1; }

@-o-viewport {
  width: device-width;
  scale: 1; }

@-webkit-viewport {
  width: device-width;
  scale: 1; }

@viewport {
  width: device-width;
  scale: 1; }

/* line 8, /Users/alexandrachama/Documents/School/Graphic Design 6/Web Dev/exercise-2-scss/scss/components/main */
html {
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%; }

/* line 16, /Users/alexandrachama/Documents/School/Graphic Design 6/Web Dev/exercise-2-scss/scss/components/main */
*, *:before, *:after {
  box-sizing: inherit; }

/* line 20, /Users/alexandrachama/Documents/School/Graphic Design 6/Web Dev/exercise-2-scss/scss/components/main */
body {
  margin: 0;
  padding: 0;
  background: url("../images/background.jpg");
  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #F59A0B;
  text-align: center; }

/* line 30, /Users/alexandrachama/Documents/School/Graphic Design 6/Web Dev/exercise-2-scss/scss/components/main */
h1 {
  font-size: 10em; }

/* line 35, /Users/alexandrachama/Documents/School/Graphic Design 6/Web Dev/exercise-2-scss/scss/components/main */
.btn {
  font-size: 5em;
  padding: 0.7em 0.9em;
  display: inline-block;
  background-color: #FBFAF8;
  border-radius: 50px;
  box-shadow: 0 10px rgba(0, 0, 0, 0.5);
  color: #000000;
  text-decoration: none;
  font-family: fontello; }
  /* line 13, /Users/alexandrachama/Documents/School/Graphic Design 6/Web Dev/exercise-2-scss/scss/mixins */
  .btn:hover {
    background-color: #02D058; }

@font-face {
  font-family: 'fontello';
  src: url('../font/wheat.eot?10881859');
  src: url('../font/wheat.eot?10881859#iefix') format('embedded-opentype'), url('../font/wheat.woff?10881859') format('woff'), url('../font/wheat.ttf?10881859') format('truetype'), url('../font/wheat.svg?10881859#fontello') format('svg');
  font-weight: normal;
  font-style: normal; }

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?10881859#fontello') format('svg');
  }
}
*/
/* line 22, /Users/alexandrachama/Documents/School/Graphic Design 6/Web Dev/exercise-2-scss/scss/components/fontello */
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "wheat";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: 0.2em
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

/* line 53, /Users/alexandrachama/Documents/School/Graphic Design 6/Web Dev/exercise-2-scss/scss/components/fontello */
.icon-wheat:before {
  content: '\e800'; }

/* '' */