 /*This file contains all our variables*/

//Variables
/* are placeholders for storing information
that you want to reuse throughout your styles.
You can store things like colours font-stacks,
or any css value you think you might want to reuse.
SCSS uses the '$' symbol to declare variables */

$primary: #3498bb;
$primary-dark: #2980b9;
$background: url("../images/background.jpg");


